h2 {
  text-align: center;
}

.sizePrice {
  font-size: 80%;
  font-style: italic;
}

#chooseSize {
  display: none;
}

#chooseToppings {
  display: none;
}

#userInfo {
  display: none;
}

#finishedOrder {
  display: none;
}
