h2 {
  text-align: center;
}

.sizePrice {
  font-size: 80%;
  font-style: italic;
}

#chooseSize {
  display: none;
}

#large {
  width: 90%;
}

#medium {
  width: 80%;
}

#small {
  width: 70%;
}
#chooseToppings {
  display: none;
}

#userInfo {
  display: none;
}

#finishedOrder {
  display: none;
}
